body {
    background-color: #121212;
    color: white;
}

.board {
    letter-spacing: 2px;
    font-family: monospace;
    color: #e43f5a;     /* I know this is a super ugly color, but it's pretty easy on my eyes instead of just white. I'm sure I could find a better white but for now this looks fine. */
}